@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

section {
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.bg-img {
    background-image: url(/assets/image/png/section-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.text-white {
    color: white;
}

.gap-14 {
    gap: 14px;
}

.gap-39 {
    gap: 39px;
}

.nav-bg {
    width: 100%;
    height: 80px;
    background: #00000080;
    backdrop-filter: blur(20px);
}

.pl-150 {
    padding-left: 150px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-31 {
    padding-top: 31px;
}

.pt-26 {
    padding-top: 26px;
}

.position-relative {
    position: relative;
}

.header-main-img {
    position: absolute;
    bottom: 0;
}

.jost-family {
    font-family: "Jost", sans-serif;

}

.mx-561 {
    max-width: 561px;
}

.JOIN-btn {
    padding: 16px 32px 16px 32px;
    border-radius: 30.5px;
    background: linear-gradient(135.55deg, #06AFF2 -2.07%, #056BF1 105.81%);
    color: white;
    transition: all 200ms linear;
    position: relative;
    z-index: 1;
}

.JOIN-btn:hover {
    background: linear-gradient(135.55deg, #1c4c5f -2.07%, #056BF1 105.81%);
    position: relative;
    z-index: 1;
}

.Whitepaper-btn {
    border: none;
    outline: none;
    background-color: unset;
    color: white;
    padding-left: 29px;
    transition: all 200ms linear;
    position: relative;
    z-index: 1;
}

.Whitepaper-btn:hover {
    padding: 16px 28px 16px 28px;
    border-radius: 30.5px;
    background-color: white;
    color: black;
}

.mt-44 {
    margin-top: 44px;
}

.mx-656 {
    max-width: 656px;
}

.pt-70 {
    padding-top: 70px;
}

.col-xl-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.bottom-layer {
    position: absolute;
    bottom: 0;
}

/* ----------section-2------------- */
.sec-2-bg-img {
    background-image: url(/assets/image/png/sec-2-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.min-vh-100 {
    height: 100vh;
}

.text-center {
    text-align: center;
}

.pt-199 {
    padding-top: 199px;
}

@media (max-width:991.98px) {
    .col-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-reverse {
        flex-direction: column-reverse;
    }

    .text-md-center {
        text-align: center;
    }

    .mx-561 {
        max-width: unset;
    }

    .md-center {
        justify-content: center;
        display: flex;
        align-items: center;
    }
}

@media (max-width:767.98px) {
    .mb-44 {
        margin-bottom: 44px;
    }

    .pb-10 {
        padding-bottom: 10px;
    }
}

.icon {
    transition: all 200ms linear;
}

.icon:hover {
    transform: scale(1.1);
}

.nav-links {
    transition: all 200ms linear;
}

.cursor-pointer {
    cursor: pointer;
}

.nav-links:hover {
    color: #056BF1;
}